.RelicCardHeader {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  .RelicSetName {
    font-size: 0.8rem;
  }

  .RelicLevel {
    opacity: 0.75;
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

    span:last-child::before {
      content: " +";
    }
  }
}
