.RelicAddSubBody {
  background-color: var(--theme-color-shadow);

  padding: 0.5rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  div {
    display: flex;

    input {
      flex-shrink: 2;
      border: none;
      border-top-left-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;

      padding: 0.5rem;

      background-color: var(--theme-color);
      color: white;
      text-align-last: center;

      font-size: 1rem;
      width: 100%;
    }
    select {
      flex-shrink: 1;

      border: none;
      border-radius: 0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      background-color: var(--theme-color);

      width: 100%;
    }
  }
}
