.RelicAddSet {
  grid-area: set;
  select {
    width: 100%;
    padding: 1rem;
    text-align-last: center;
    border-radius: 1rem;

    font-size: 1rem;

    border: none;

    background-color: black;
    border: 0.1rem solid var(--theme-color);

    color: white;
  }
}
