#LightconeAdd {
  .filters {
    background-color: var(--primary-shade-200);
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    justify-content: space-between;

    border-radius: 0.75rem;
    padding: 0.25rem;

    .filter {
      display: flex;
      overflow: scroll;

      label {
        min-width: 3rem;
        text-align: center;
        display: block;
        border-radius: 0.5rem;

        input {
          display: none;
        }
        div {
          padding: 0.5rem;
          padding-top: 0.6rem;
        }
      }

      label:has(input:checked) {
        background-color: var(--primary);
      }
    }
    .filter:last-child {
      margin-left: auto;
    }
  }
}
