#LightconeList {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 36rem) {
  #LightconeList {
    max-width: 24rem;
  }
}
@media (min-width: 48rem) {
  #LightconeList {
    max-width: 48rem;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 72rem) {
  #LightconeList {
    max-width: 72rem;
    grid-template-columns: repeat(3, 1fr);
  }
}
