#캐릭터 {
  padding: 0.5rem;

  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 50rem) {
  #캐릭터 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 75rem) {
  #캐릭터 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.캐릭터 {
  padding: 1rem;
  border-radius: 1rem;

  background-color: var(--theme-color);

  hr {
    appearance: none;
    border: 0.01rem solid black;
    margin: 0.5rem 0;
  }

  .캐릭터_상단 {
    display: flex;
    justify-content: space-between;

    .캐릭터_이미지 {
      width: 5rem;
      height: 5rem;
      overflow: hidden;

      border-radius: 1rem;
      background-color: #40f;

      img {
        width: 100%;
      }
    }

    .캐릭터_요약 {
      text-align: right;
      font-size: 0.8rem;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .캐릭터_이름 {
        font-weight: bolder;
        font-size: 1rem;
      }
    }
  }
  .캐릭터_하단 {
    font-size: 0.8rem;

    .캐릭터_광추 {
      margin-bottom: 0.5rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .광추요약 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .광추이미지 {
        min-width: 3rem;
        height: 3rem;
        background-color: gray;

        border-radius: 1rem;
        overflow: hidden;

        img {
          width: 100%;
        }
      }
    }
    .캐릭터_행적 {
      margin-bottom: 0.5rem;

      display: flex;
      justify-content: space-around;
    }
    .캐릭터_성혼 {
      display: flex;
      width: 100%;
      gap: 0.5rem;
      .성혼_태그 {
        flex-grow: auto;
      }
      .성혼_그래프 {
        word-break: keep-all;
        display: flex;
        flex-grow: 1;
        text-align: center;
        .성혼 {
          height: 1rem;
          width: 100%;
          background-color: white;
        }
        .성혼:first-child {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
        }
        .성혼:last-child {
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }
        .성혼[data-eidolon="activated"] {
          background-color: var(--theme-color);
          border: 0.075rem solid white;
          box-sizing: border-box;
        }
      }
    }
  }
}

#addCharacter {
  background-color: white;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: var(--theme-color);
    font-size: 6rem;
  }
}
