@media (min-width: 60rem) {
  #Nav {
    max-width: 60rem !important;
  }
}
#Nav {
  position: fixed;
  bottom: 0;

  max-width: 30rem;
  width: 100%;

  padding: 0.5rem;

  background-color: black;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style-type: none;
}
#NavMain,
#NavRelic {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
}
#Nav li {
  height: 2rem;
  width: 100%;

  font-size: 1rem;
  font-weight: bolder;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 2rem;
}
#Nav li[data-selected="yes"] {
  background-color: var(--theme-color);
}
#Nav li[data-selected="no"] {
  border: 1px solid var(--theme-color);
}
