footer {
  position: fixed;
  bottom: 0;

  padding: 0.5rem;
  padding-bottom: max(0.5rem, env(safe-area-inset-bottom));

  width: 100%;
  max-width: 25rem;

  background-color: #000000dd;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style-type: none;
}

@media (min-width: 50rem) {
  footer {
    max-width: 50rem;
  }
}
@media (min-width: 75rem) {
  footer {
    max-width: 75rem;
  }
}

#NavMain,
#NavCharacter,
#NavLightcone,
#NavRelic {
  ul {
    list-style-type: none;

    display: flex;
    li {
      height: 2rem;
      width: 100%;

      font-size: 1rem;
      font-weight: bolder;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 2rem;
    }

    li[data-selected="yes"],
    li[data-filter="true"] {
      background-color: var(--theme-color);
    }

    li[data-selected="no"],
    li[data-filter="false"] {
      border: 0.05rem solid var(--theme-color);
    }
  }
}
#NavMain {
  ul {
    gap: 0.5rem;
  }
}
#NavCharacter,
#NavLightcone,
#NavRelic {
  ul {
    gap: 0;
  }
  li {
    border-radius: 0 !important;
  }
  li:first-child {
    border-radius: 1rem 0 0 1rem !important;
  }
  li:last-child {
    border-radius: 0 1rem 1rem 0 !important;
  }
}
