#유물 {
  padding: 6pt;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
@media (min-width: 50rem) {
  #유물 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 75rem) {
  #유물 {
    grid-template-columns: repeat(6, 1fr);
  }
}

.유물 {
  background-color: var(--theme-color);

  border-radius: 1rem;

  padding: 1rem;

  font-size: 1rem;
}

#addRelic {
  background-color: white;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  span {
    color: var(--theme-color);
    font-size: 6rem;
  }
}
