#backup {
  scroll-snap-align: center;

  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  div {
    color: white;
    padding: 1rem;
    background-color: color(display-p3 0.125 0 0.5);
    border-radius: 1rem;
    width: 100%;
    text-align: center;
  }
}
