footer {
  position: fixed;
  bottom: 0;

  padding: 0.5rem;
  padding-bottom: max(0.5rem, env(safe-area-inset-bottom));

  width: 100%;
  max-width: 25rem;

  backdrop-filter: blur(1rem);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style-type: none;

  #NavSecondary {
    li {
      border-radius: 0;
    }
    li:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    li:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  nav {
    ul {
      list-style-type: none;

      display: flex;

      li {
        height: 3rem;
        width: 100%;

        border-radius: 1rem;

        font-size: 1rem;
        font-weight: bolder;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      li[data-selected="true"] {
        background-color: var(--theme-color);
      }
      li[data-selected="false"] {
        border: 0.1rem solid var(--theme-color);
        background-color: black;
      }
    }
  }
  #NavMain {
    ul {
      gap: 0.5rem;
    }
  }
}
