footer {
  position: fixed;
  bottom: 0;

  padding: 0.5rem;
  padding-bottom: max(0.5rem, env(safe-area-inset-bottom));

  width: 100%;
  max-width: calc(
    25rem - env(safe-area-inset-left) - env(safe-area-inset-right)
  );

  background-color: color(display-p3 0 0 0 / 0.8);

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style-type: none;

  #NavCharacter,
  #NavLightcone,
  #NavRelic {
    li {
      border-radius: 0;
    }
    li:first-child {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
    }
    li:last-child {
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
    }
  }
  nav {
    ul {
      list-style-type: none;

      display: flex;

      li {
        height: 3rem;
        width: 100%;

        border-radius: 3rem;

        font-size: 1rem;
        font-weight: bolder;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      li[data-selected="true"] {
        background-color: var(--theme-color);
      }
      li[data-selected="false"] {
        border: 0.1rem solid var(--theme-color);
      }
    }
  }
  #NavMain {
    ul {
      gap: 0.5rem;
    }
  }
}
@media (min-width: 50rem) {
  footer {
    max-width: calc(
      50rem - env(safe-area-inset-left) - env(safe-area-inset-right)
    );
  }
}
@media (min-width: 75rem) {
  footer {
    max-width: calc(
      75rem - env(safe-area-inset-left) - env(safe-area-inset-right)
    );
  }
}
