@import url(css/SCDream.css);

:root {
  background-color: black;

  color: white;

  --theme-color: color(display-p3 0.25 0 1);
  --theme-color-shadow: color(display-p3 0.2 0 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  word-break: keep-all;
  font-family: SCDream, -apple-system, sans-serif;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  height: 100vh;
}

div#root {
  scroll-snap-type: y mandatory;
  scroll-padding: 0.5rem;
  overflow: scroll;
  margin: auto;

  max-width: 25rem;
  height: 100vh;
}

@media (min-width: 45.5rem) {
  div#root,
  footer {
    max-width: 37.5rem;
  }
}
@media (min-width: 58rem) {
  div#root,
  footer {
    max-width: 50rem;
  }
}
@media (min-width: 83rem) {
  div#root,
  footer {
    max-width: 75rem;
  }
}

div.controler {
  background-color: white;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: var(--theme-color);
    font-size: 6rem;
  }
}
