@import url(./SCDream.css);

:root {
  background-color: black;

  font-family: SCDream, -apple-system, sans-serif;

  color: white;

  --theme-color: color(display-p3 0.25 0 1);
  --theme-color-shadow: color(display-p3 0.2 0 0.8);

  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  appearance: none;
  word-break: keep-all;
}

body {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  height: 100vh;

  overflow: scroll;
  scroll-snap-type: y mandatory;
  scroll-padding: 0.5rem;
}

div#root {
  margin: auto;

  max-width: 25rem;
}

@media (min-width: 50rem) {
  div#root {
    max-width: calc(50rem);
  }
}

@media (min-width: 75rem) {
  div#root {
    max-width: calc(
      75rem - env(safe-area-inset-left) - env(safe-area-inset-right)
    );
  }
}
