@import url(css/SCDream.css);

:root {
  background-color: black;

  color: white;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  --theme-color: color(display-p3 0.25 0 1);

  --primary-tint-100: color(display-p3 0.95 0.8 1);
  --primary-tint-200: color(display-p3 0.7 0.6 1);
  --primary-tint-300: color(display-p3 0.55 0.4 1);
  --primary-tint-400: color(display-p3 0.4 0.2 1);
  --primary-tint-500: color(display-p3 0.25 0 1);
  --primary: var(--theme-color);
  --primary-shade-500: color(display-p3 0.25 0 1);
  --primary-shade-400: color(display-p3 0.2 0 0.8);
  --primary-shade-300: color(display-p3 0.15 0 0.6);
  --primary-shade-200: color(display-p3 0.1 0 0.4);
  --primary-shade-100: color(display-p3 0.05 0 0.2);

  --on-tint: black;
  --on-shade: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: SCDream, -apple-system, sans-serif;
}

div#root {
  scroll-snap-type: y mandatory;
  scroll-padding: 0.5rem;
  overflow: scroll;
  margin: auto;

  height: 100dvh;
}

main {
  max-width: 12rem;
  margin: auto;
}
@media (min-width: 23rem) {
  main,
  .NavContainer {
    max-width: 23rem;
  }
}
@media (min-width: 36rem) {
  main,
  .NavContainer {
    max-width: 36rem;
  }
}
@media (min-width: 48rem) {
  main,
  .NavContainer {
    max-width: 48rem;
  }
}
@media (min-width: 72rem) {
  main,
  .NavContainer {
    max-width: 72rem;
  }
}
@media (min-width: 96rem) {
  main,
  .NavContainer {
    max-width: 96rem;
  }
}
@media (min-width: 144rem) {
  main,
  .NavContainer {
    max-width: 144rem;
  }
}

div.controler {
  scroll-snap-align: start;
  background-color: white;
  border-radius: 0.75rem;

  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: var(--theme-color);
    font-size: 6rem;
  }
}

input {
  appearance: none;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

hr {
  margin: 0.5rem -0.75rem;
  border: none;
  height: 0.1rem;
  background: linear-gradient(
    to right,
    var(--theme-color),
    25%,
    var(--theme-color-shadow),
    75%,
    var(--theme-color)
  );
}
