footer {
  position: fixed;
  bottom: 0;
  left: 0;

  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);

  width: 100%;

  backdrop-filter: blur(1rem);

  list-style-type: none;

  .NavContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    padding-bottom: max(0.5rem, env(safe-area-inset-bottom));
  }
  #NavSecondary {
    li {
      border-radius: 0;
    }
    li:first-child {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
    li:last-child {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
    }
  }
  nav {
    ul {
      list-style-type: none;

      display: flex;

      li {
        height: 3rem;
        width: 100%;

        border-radius: 1rem;

        font-size: 1rem;
        font-weight: bolder;

        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid var(--theme-color);
      }

      li[data-selected="true"] {
        background-color: var(--theme-color);
      }
      li[data-selected="false"] {
        background-color: black;
      }
    }
  }
  #NavMain {
    ul {
      gap: 0.5rem;
    }
  }
}
