.RelicList {
  padding: 0.5rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
@media (min-width: 45.5rem) {
  .RelicList {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 58rem) {
  .RelicList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 83rem) {
  .RelicList {
    grid-template-columns: repeat(6, 1fr);
  }
}
