.RelicAddSlot {
  grid-area: slot;

  .RelicAddSlotRadio {
    display: flex;
  }
  input[type="radio"] {
    position: absolute;
  }
  label {
    border: 0.1rem solid var(--theme-color);

    width: 100%;

    padding: 1rem 0;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  label:has(input:checked) {
    background-color: var(--theme-color);
  }
  .RelicAddSlotRadio:first-child {
    label:first-child {
      border-top-left-radius: 1rem;
    }
    label:last-child {
      border-top-right-radius: 1rem;
    }
  }
  .RelicAddSlotRadio:last-child {
    label:first-child {
      border-bottom-left-radius: 1rem;
    }
    label:last-child {
      border-bottom-right-radius: 1rem;
    }
  }
}
